@font-face {
  font-family: 'Jungle_Roar';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/Jungle_Roar_Bold.ttf') format('truetype');
}

h1, h2{
  font-family: 'Jungle_Roar';
}

.App {
  text-align: center;
  background-color: #edf9fe;
  min-height: 100vh;
  font-family: 'LibreBaskerville-Bold';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: local('MyFont'), url(./assets/fonts/LibreBaskerville-Italic.ttf) format('woff');
}
@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: local('MyFont'), url(./assets/fonts/LibreBaskerville-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: local('MyFont'), url(./assets/fonts/LibreBaskerville-Regular.ttf) format('woff');
}