.card{
    width: 300px;
    background-color: #324a58;
    opacity: 1;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: scale 0.5s;
}
img{
    width: 100%;
    border-radius: 20px;
}
.project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project :hover{
    scale: 1.05;
}
code{
    background-color: aliceblue;
    color: green;
    margin: 10px;
    padding: 3px;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.fas{
    color: aliceblue;
}