.sm-item{
    width: 40px;
    margin: 10px;
    
}
.sm :hover{
    transform: rotate(10deg);
    scale: 1.2;
}
.fa-github, .fa-dev {
    color: black;
}
.fa-twitter{
    color: #1c9cea;
}
.fa-linkedin{
    color: #0078b6;
}
.fa-gitlab{
    color: #db4128;
}